#python specific
*.pyc
__pycache__

#emacs specific
\#*\#

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.log
*.out

# Project specific
*.geojson
*.json
*.pkl
/web/js/ol-debug.js
/screenshots/
/solver_output/
/.ipynb_checkpoints/
